<footer>

  <p>
  Built by <a href="https://randomgeekery.org/">Brian Wisti</a>.
  See the <a href="/colophon/">colophon</a> for how.
  </p>

  <p>
  This work is licensed under a
  <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
  </p>
  <% if ENV["NANOC_ENV"] == "prod" %>
    <script data-goatcounter="https://rg-life.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  <% end %>
</footer>
