<header>
  <nav>
    <a href="/">Random Geekery Life</a>
    <a href="/hello">Hello</a>
    <a href="/follow">Follow</a>
    <a href="/log/">Log</a>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Keep me posting', '#72a4f2', 'N4N0SSU9M');kofiwidget2.draw();</script>
  </nav>
</header>
