<section class="summary">
  <header>
    <%= link_to item[:title], item %>
  </header>
  <% if item[:id] =~ %r{ ^ Log / \d }x %>
    <section>
    <%= item.compiled_content %>
    </section>
  <% end %>
  <footer>
    <%= render '/_page_meta.*' %>
  </footer>
</section>
